.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  width: 55px;
  height: 4px;
  background-color: #3478dd;
}
.titleName {
  text-transform: uppercase;
  font-weight: 650;
  font-size: 4.2rem;
  color: #3478dd;
}
