nav {
  width: 100%;
  height: 70px;
  background: #1c1a2a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 0 10%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10;
  top: 0;
}
.brand-div {
  height: 100%;
  display: flex;
  align-items: center;
}
.brnding a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.brnding a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.brnding a h1 {
  font-size: 2rem;
}
.navitm {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.navitm a {
  display: inline-block;
  width: 6rem;
  background: #fff;
  padding: 0.44rem 0rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #1c1a2a;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #bbcddf;
  font-weight: 600;
  transform: translate(0px, 0px);
  transition: 0.3s ease;
  transition-property: transform, box-shadow;
}
.navitm a:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}
.navitm a:hover {
  cursor: pointer;
}
.home-top-dropdown {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.home-top-dropdown .home-top-user-profile-button {
  display: flex;
  height: 100%;
  margin-right: -55px;
  align-items: center;
  text-decoration: none;
}
.home-top-dropdown .home-top-user-profile-button:hover {
  cursor: pointer;
}
.home-top-dropdown .home-top-user-profile-button .child-1-home-top-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.home-top-dropdown .home-top-user-profile-button .child-1-home-top-arrow {
  color: white;
  font-size: 18px;
  margin-left: 7px;
  transition: transform 100ms ease-out;
}
.home-top-dropdown .home-top-dropdown-box {
  position: absolute;
  margin-top: 63px;
  margin-left: -72px;
  display: flex;
  flex-direction: column;
  background-color: #a09fa5;
  border-right: 3.6px solid #000;
  z-index: 2;
}
.home-top-dropdown .home-top-dropdown-box .home-top-dropdown-item {
  color: white;
  text-decoration: navajowhite;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 12px;
  border-bottom: 0.3px solid black;
}
.home-top-dropdown .home-top-dropdown-box .home-top-dropdown-item:hover {
  color: #e2e2e2;
}
.home-top-dropdown .home-top-dropdown-box .home-top-dropdown-item:last-child {
  border-bottom: none;
}

@media all and (max-width: 1050px) {
  nav {
    height: 66px;
    padding: 0 8.5%;
  }
  .brnding a img {
    width: 48px;
    height: 48px;
    margin-right: 7px;
  }
  .brnding a h1 {
    font-size: 1.9rem;
  }
  .navitm a {
    width: 5.5rem;
    font-size: 15px;
    padding: 0.39rem 0rem;
    margin-left: 1.8rem;
    border-radius: 4.8px;
    box-shadow: 4.8px 4.8px 0px #bbcddf;
  }
  .navitm a:active {
    transform: translate(4.8px, 4.8px);
  }
  .home-top-dropdown .home-top-user-profile-button {
    margin-right: -42px;
  }
  .home-top-dropdown .home-top-dropdown-box {
    margin-top: 60px;
    margin-left: -69px;
  }
}

@media all and (max-width: 750px) {
  nav {
    height: 63px;
    padding: 0 6.5%;
  }
  .brnding a img {
    width: 45px;
    height: 45px;
    margin-right: 6px;
  }
  .brnding a h1 {
    font-size: 1.7rem;
  }
  .navitm a {
    width: 4.8rem;
    font-size: 14px;
    padding: 0.3rem 0rem;
    margin-left: 1.5rem;
    border-radius: 4.5px;
    box-shadow: 4.3px 4.3px 0px #bbcddf;
  }
  .navitm a:active {
    transform: translate(4.3px, 4.3px);
  }
  .home-top-dropdown .home-top-user-profile-button {
    margin-right: -14px;
  }
}

@media all and (max-width: 500px) {
  nav {
    height: 54px;
    padding: 0 2.2%;
  }
  .brnding a img {
    width: 36px;
    height: 36px;
    margin-right: 3px;
  }
  .brnding a h1 {
    font-size: 1.5rem;
  }
  .navitm a {
    width: 4rem;
    font-size: 12px;
    padding: 0.3rem 0rem;
    margin-left: 1rem;
    border-radius: 4.1px;
    box-shadow: 3.8px 3.8px 0px #bbcddf;
  }
  .navitm a:active {
    transform: translate(3.8px, 3.8px);
  }
  .home-top-dropdown .home-top-user-profile-button .child-1-home-top-circle {
    width: 39px;
    height: 39px;
  }
  .home-top-dropdown .home-top-user-profile-button .child-1-home-top-arrow {
    font-size: 17px;
    margin-left: 6px;
  }
  .home-top-dropdown .home-top-dropdown-box {
    margin-left: -64px;
    border-right: 3.4px solid #000;
  }
  .home-top-dropdown .home-top-dropdown-box .home-top-dropdown-item {
    font-weight: 700;
    font-size: 16px;
    padding: 4.5px 11px;
  }
  .home-top-dropdown .home-top-user-profile-button {
    margin-right: 5px;
  }
  .home-top-dropdown .home-top-dropdown-box {
    margin-top: 51px;
  }
}

@media all and (max-width: 350px) {
  nav {
    height: 42px;
    padding: 0 1.6%;
  }
  .brnding a img {
    width: 30px;
    height: 30px;
    margin-right: 2.5px;
  }
  .brnding a h1 {
    font-size: 1.2rem;
  }
  .navitm a {
    width: 3rem;
    font-size: 10px;
    padding: 0.24rem 0rem;
    margin-left: 0.6rem;
    border-radius: 3px;
    box-shadow: 3px 3px 0px #bbcddf;
  }
  .navitm a:active {
    transform: translate(3px, 3px);
  }
  .home-top-dropdown .home-top-user-profile-button .child-1-home-top-circle {
    width: 32px;
    height: 32px;
  }
  .home-top-dropdown .home-top-user-profile-button {
    margin-right: 8 px;
  }
  .home-top-dropdown .home-top-dropdown-box .home-top-dropdown-item {
    font-weight: 700;
    font-size: 14px;
    padding: 4.5px 10px;
  }
  .home-top-dropdown .home-top-dropdown-box {
    margin-top: 41px;
    margin-left: -56px;
  }
}
