.home-top-nav {
  padding: 30px 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .home-top-nav-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
  }
  .home-top-nav-links {
    list-style: none;
    display: flex;
    .home-top-loginSignup {
      text-align: center;
      background: #b2bbed;
      width: 90px;
      margin-left: 40px;
      padding: 0.4rem 0.3rem;
      color: #525252;
      border-radius: 5px;
      box-shadow: -3px -3px 5px 3px rgba(255, 255, 255, 0.24),
        3px 3px 5px 3px rgba(0, 0, 0, 0.2);
      font-weight: 600;
      transition: 0.3s ease;
      transition-property: box-shadow;
      outline: none;
      &:active {
        box-shadow: none;
      }
    }
  }
  .home-top-dropdown {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    .home-top-user-profile-button {
      display: flex;
      margin-top: -27px;
      margin-right: -16px;
      align-items: center;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
      .child-1-home-top-circle {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
      .child-1-home-top-arrow {
        color: white;
        font-size: 18px;
        margin-left: 7px;
        transition: transform 100ms ease-out;
      }
    }
    .home-top-dropdown-box {
      position: absolute;
      margin-top: 21px;
      margin-left: -72px;
      display: flex;
      flex-direction: column;
      background-color: #d1c3fa;
      border-right: 3.6px solid #9278dd;
      z-index: 2;
      transition: visibility 0s, opacity 0.5s linear;
      .home-top-dropdown-item {
        color: white;
        text-decoration: navajowhite;
        font-weight: 700;
        font-size: 18px;
        padding: 5px 12px;
        border-bottom: 0.3px solid rgb(99, 99, 185);
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          color: #f4f2f8;
        }
      }
    }
  }
}

@media all and (max-width: 1050px) {
  .home-top-nav {
    padding: 15px 5%;
    .home-top-nav-img {
      width: 80px;
      height: 80px;
      border: 4px solid white;
    }
    .home-top-nav-links {
      .home-top-loginSignup {
        font-size: 14px;
        width: 80px;
        margin-left: 30px;
        padding: 0.3rem 0.2rem;
        border-radius: 5px;
      }
    }
    .home-top-dropdown {
      .home-top-user-profile-button {
        margin-top: -24px;
        .child-1-home-top-circle {
          width: 39px;
          height: 39px;
        }
        .child-1-home-top-arrow {
          font-size: 17px;
          margin-left: 6px;
        }
      }
      .home-top-dropdown-box {
        margin-left: -64px;
        border-right: 3.4px solid #9278dd;
        .home-top-dropdown-item {
          font-weight: 700;
          font-size: 16px;
          padding: 4.5px 11px;
        }
      }
    }
  }
}
@media all and (max-width: 830px) {
  .home-top-nav {
    padding: 15px 7% 15px 5%;
    .home-top-nav-img {
      width: 70px;
      height: 70px;
      border: 3.6px solid white;
    }
    .home-top-nav-links {
      .home-top-loginSignup {
        font-size: 14px;
        width: 75px;
        margin-left: 27px;
        padding: 0.3rem 0.2rem;
        border-radius: 5px;
      }
    }
    .home-top-dropdown {
      .home-top-user-profile-button {
        margin-top: -21px;
        .child-1-home-top-circle {
          width: 36px;
          height: 36px;
        }
        .child-1-home-top-arrow {
          font-size: 16px;
          margin-left: 6px;
        }
      }
      .home-top-dropdown-box {
        margin-left: -60px;
        border-right: 3.2px solid #9278dd;
        .home-top-dropdown-item {
          font-weight: 700;
          font-size: 15px;
          padding: 4px 10px;
        }
      }
    }
  }
}

@media all and (max-width: 690px) {
  .home-top-nav {
    padding: 15px 9% 15px 5%;
    .home-top-nav-img {
      width: 80px;
      height: 80px;
      border: 4px solid white;
    }
    .home-top-nav-links {
      .home-top-loginSignup {
        font-size: 14px;
        width: 80px;
        margin-left: 30px;
        padding: 0.3rem 0.2rem;
        border-radius: 5px;
      }
    }
  }
}

@media all and (max-width: 520px) {
  .home-top-nav {
    padding: 15px 9% 15px 5%;
    .home-top-nav-img {
      width: 70px;
      height: 70px;
      border: 3.6px solid white;
    }
    .home-top-nav-links {
      .home-top-loginSignup {
        font-size: 14px;
        width: 75px;
        margin-left: 27px;
        padding: 0.3rem 0.2rem;
        border-radius: 5px;
      }
    }
    .home-top-dropdown {
      .home-top-user-profile-button {
        margin-top: -25px;
        .child-1-home-top-circle {
          width: 35px;
          height: 35px;
        }
        .child-1-home-top-arrow {
          font-size: 16px;
          margin-left: 6px;
        }
      }
      .home-top-dropdown-box {
        margin-top: 15px;
        margin-left: -57px;
        border-right: 3.2px solid #9278dd;
        .home-top-dropdown-item {
          font-weight: 700;
          font-size: 14px;
          padding: 4.5px 10.5px;
        }
      }
    }
  }
}

@media all and (max-width: 420px) {
  .home-top-nav {
    .home-top-nav-img {
      width: 65px;
      height: 65px;
      border: 3.2px solid white;
    }
    .home-top-nav-links {
      .home-top-loginSignup {
        font-size: 12px;
        width: 60px;
        margin-left: 21px;
        padding: 0.25rem 0.18rem;
        border-radius: 5px;
      }
    }
  }
}

@media all and (max-width: 350px) {
  .home-top-nav {
    .home-top-nav-img {
      width: 55px;
      height: 55px;
      border: 3px solid white;
    }
    .home-top-nav-links {
      .home-top-loginSignup {
        font-size: 8px;
        width: 45px;

        margin-left: 19px;
        padding: 0.25rem 0.18rem;
        border-radius: 3 px;
      }
    }
  }
}
