.child-doctor-with-content {
  z-index: 1;
  position: absolute;
  width: $doctor-card-content;
  margin-left: 317px;
  padding-left: 50px;
  padding-top: 25px;
  padding-right: 100px;
  transition: all 0.4s ease;
  p {
    font-style: normal;
    font-size: 20px;
    margin-bottom: 1rem;
    line-height: 30px;
    transition: all 0.4s ease;
  }
  .grand-doctor-3-degree {
    font-weight: bolder;
    color: rgb(24, 165, 201);
    text-transform: uppercase;
  }
  .grand-doctor-3-address {
    color: #ad6d3d;
    text-transform: uppercase;
  }
  .grand-doctor-3-phone {
    text-transform: capitalize;
  }
  .grand-doctor-3-fees {
    text-transform: capitalize;
  }
  .grand-doctor-3-rating {
    display: flex;
    .star-rating {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .number-of-rating {
      font-weight: bold;
      padding-top: 3px;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}
.star-doctor-card {
  font-size: 27px;
  margin-right: 7px;
  transition: all 0.4s ease;
}
.rupee-doctor-card {
  font-size: 17px;
}

@media all and (max-width: 1150px) {
  .child-doctor-with-content {
    width: 610px;
    margin-left: 240px;
    p {
      font-style: normal;
      font-size: 16px;
      margin-bottom: 11px;
      line-height: 24px;
    }
    .grand-doctor-3-rating {
      .number-of-rating {
        padding-top: 3px;
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }
  .star-doctor-card {
    font-size: 24px;
    margin-right: 5px;
  }
  .rupee-doctor-card {
    font-size: 15px;
  }
}
@media all and (max-width: 930px) {
  .child-doctor-with-content {
    width: 460px;
    margin-left: 160px;
    p {
      font-style: normal;
      font-size: 12px;
      margin-bottom: 7px;
      line-height: 18px;
    }
    .grand-doctor-3-rating {
      .number-of-rating {
        padding-top: 2px;
        margin-left: 6px;
        font-size: 12px;
      }
    }
  }
  .star-doctor-card {
    font-size: 16px;
    margin-right: 3px;
  }
  .rupee-doctor-card {
    font-size: 12px;
  }
}

@media all and (max-width: 650px) {
  .child-doctor-with-content {
    padding-top: 16px;
    width: 310px;
    margin-left: 100px;
    padding-right: 10px;
    p {
      font-style: normal;
      font-size: 10px;
      margin-bottom: 7px;
      line-height: 14px;
    }
    .grand-doctor-3-rating {
      .number-of-rating {
        padding-top: 1px;
        margin-left: 4px;
        font-size: 10px;
      }
    }
  }
  .star-doctor-card {
    font-size: 12px;
    margin-right: 3px;
  }
  .rupee-doctor-card {
    font-size: 10px;
  }
}

@media all and (max-width: 450px) {
  .child-doctor-with-content {
    padding-top: 12px;
    width: 260px;
    margin-left: 60px;
    p {
      font-style: normal;
      font-size: 8px;
      margin-bottom: 4px;
      line-height: 11px;
    }
    .grand-doctor-3-rating {
      .number-of-rating {
        padding-top: 3px;
        margin-left: 3px;
        font-size: 8px;
      }
    }
  }
  .star-doctor-card {
    font-size: 10px;
    margin-right: 3px;
  }
  .rupee-doctor-card {
    font-size: 8px;
  }
}

@media all and (max-width: 350px) {
  .child-doctor-with-content {
    padding-top: 10px;
    width: 220px;
    margin-left: 45px;
    p {
      font-style: normal;
      font-size: 7px;
      margin-bottom: 3px;
      line-height: 11px;
    }
    .grand-doctor-3-rating {
      .number-of-rating {
        padding-top: 1px;
        margin-left: 3px;
        font-size: 7px;
      }
    }
  }
  .star-doctor-card {
    font-size: 8px;
    margin-right: 2px;
  }
  .rupee-doctor-card {
    font-size: 6px;
  }
}
