@import "./variable";
.child-disease-1 {
  box-shadow: 0px -1px 3px rgba(106, 106, 106, 0.4);

  border-radius: 15px 15px 0 0;
  background: #f3f3f3;
  .child-disease-with-img-disease {
    border-radius: 15px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .grand-disease-1-img {
      z-index: 2;
      position: absolute;
      img {
        width: $img-circle;
        height: $img-circle;
        border-radius: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      }
    }
    .grand-disease-1-back {
      z-index: 1;
      position: absolute;
      width: $back-rect;
      height: $back-rect;
      background: #cce3ff;
      border-radius: 15px;
      transform: rotate(-45deg);
    }
  }
  // .child-disease-with-bars {
  .grand-disease-1-bar {
    background: #ff73b5;
  }
  #left-bar {
    position: relative;
    margin-top: -7px;
    height: 7px;
    width: 66px;
  }
  #right-bar {
    position: relative;
    margin-top: -66px;
    margin-left: 98%;
    height: 66px;
  }
  // }
}
