.grand-with-img {
  height: 270px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }
}

@media all and (max-width: 1150px) and (min-width: 850px) {
  .grand-with-img {
    height: 220px;
  }
}
@media all and (max-width: 600px) {
  .grand-with-img {
    height: 220px;
  }
}

@media all and (max-width: 450px) {
  .grand-with-img {
    height: 270px;
  }
}

@media all and (max-width: 350px) {
  .grand-with-img {
    height: 220px;
  }
}
