.child-with-img {
    border-right: 2px solid #000000;
    .grand-1-status {
        position: absolute;
        .gg-1a-bar {
            margin-left: 13px;
            height: 70px;
            width: 6px;
            background: #fcc14a;
        }
        .gg-1a-circle {
            margin-left: -7px;
            width: 44px;
            height: 44px;
            background: #fcc14a;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #000000;
        }
    }
    width: 317px;
    .grand-1-img {
        img {
            width: 317-2px;
            height: 260px;
            border-radius: 5px 0 0 0;
        }
    }
    .grand-1-name {
        height: 64px;
        background: #e8e8e8;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 0 5px;
    }
}