@import "./variable";
.child-1 {
  border-radius: 15px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
  border-radius: 25px;

  .child-with-img {
    transition: all 0.5s ease;
    border-radius: 15px;
    width: 270px;
    height: 241px;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    align-items: center;
    .grand-1-img {
      z-index: 2;
      position: absolute;
      img {
        width: $img-circle;
        height: $img-circle;
        border-radius: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        transition: all 0.5s ease;
      }
    }
    .grand-1-back {
      z-index: 1;
      position: absolute;
      width: $back-rect;
      height: $back-rect;
      background: #dbeafd;
      border-radius: 15px;
      transform: rotate(-45deg);
      margin-top: 5px;
      margin-left: -3px;
      transition: all 0.5s ease;
    }
  }

  .grand-1-bar {
    background: #ff73b5;

    position: relative;
    margin-top: -110px;
    width: 7px;
    height: 131px;
  }
  transition: all 0.5s ease;
}
