.user-test {
  display: flex;
}
.p-test {
  overflow: auto;
  height: 690px;
  &::scroolbar {
    width: 10px;
  }
}

.user-profile-main {
  padding-top: 90px;
  width: 400px;
  height: 690px;
  background: rgba(115, 113, 113, 0.2);
  // background: rgba(89, 104, 118, 0.59);
  .user-profile-child-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 110px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 0.5px solid white;
    background: url("./images/Pratik.jpg");
    background-size: cover;
    background-position: center;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
    color: white;
    .change-icon-user-photo {
      visibility: hidden;
      opacity: 0;
      font-size: 18px;
      margin-bottom: 6px;
      i {
        margin: 0 10px;
        &:hover {
          cursor: pointer;
          color: #c4c4c4;
        }
      }
      transition: visibility 0s, opacity 0.5s linear;
    }
    p {
      visibility: hidden;
      opacity: 0;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      font-weight: 600;
      transition: visibility 0s, opacity 0.5s linear;
    }
    &:hover .change-icon-user-photo {
      visibility: visible;
      opacity: 1;
    }
    &:hover p {
      visibility: visible;
      opacity: 1;
    }
  }
  .user-profile-child-photo::before {
    content: "";
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.5s ease;
  }
  .user-profile-child-photo:hover::before {
    background: rgb(68, 62, 62);
    opacity: 0.6;
  }
  .user-profile-child-details {
    .user-profile-child-name {
      font-weight: 500;
      font-size: 24px;
      margin: 40px 0px 0px 60px;
    }
    .user-profile-child-address {
      span {
        font-weight: 600;
      }
      margin: 32px 0px 0px 60px;

      font-weight: 400;
      font-size: 14px;
    }
    .user-profile-child-phone {
      span {
        font-weight: 600;
      }
      margin: 32px 0px 0px 60px;

      font-weight: 400;
      font-size: 14px;
    }
    .user-profile-child-email {
      span {
        font-weight: 600;
      }
      margin: 32px 0px 0px 60px;

      font-weight: 400;
      font-size: 14px;
    }
  }
  .user-profile-child-edit {
    margin: 40px 30px 0px 60px;
    padding: 7px 14px;
    background: #272727;
    border-radius: 3px;
    border: 2px solid black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.3s linear;
    &:hover {
      border: 2px solid white;
    }
  }
}
