.child-with-cont {
  .grand-2-head {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    color: #6d6d6d;
  }
  .grand-2-cont {
    padding: 0 17px;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: justify;
    color: #898989;
    padding-bottom: 9px;
  }
}
