.child-with-btn {
    height: 47px;
    border-radius: 0 0 15px 15px;
    background: rgba(116, 46, 233, 0.71);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .grand-3-btn {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: all .3s ease-in;
        &:hover {
            width: 70%;
        }
        a {
            font-size: 12px;
            font-weight: bold;
            color: white;
            transition: all .3s ease-in;
            &:hover {
                text-decoration: none;
                font-size: 16px;
            }
        }
    }
    .grand-3-divider {
        height: 32px;
        width: 0px;
        border: 0.5px solid #FFFFFF;
    }
}