.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 62px;
  margin: 0 62px;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 111px;
    height: 111px;
    color: green;
    background-color: #f0f0f0;
    font-size: 48px;
    border-radius: 50%;
    margin-top: -62px;
    border-bottom: 5px solid #fff;
  }
  .grand-1-sqr {
    z-index: inherit;
    position: absolute;
    width: 270px;
    height: 150px;
    background: #f0f0f0;
    box-shadow: 4px 4px 5px 1px rgba(159, 159, 159, 0.99);
    border-radius: 15px;
    padding-top: 50px;
    text-align: center;
    .gg-a-type {
      font-size: 21px;
      font-weight: 700;
      line-height: 50px;
    }
    .gg-a-counter {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

@media all and (max-width: 1050px) and (min-width: 650px) {
  .count-container {
    margin: 0 50px;
    i {
      width: 98px;

      height: 98px;
      font-size: 40px;
      margin-top: -50px;
    }
    .grand-1-sqr {
      width: 200px;

      height: 130px;
      padding-top: 54px;
      .gg-a-type {
        font-size: 20px;

        line-height: 25px;
      }
      .gg-a-counter {
        font-size: 14px;
      }
    }
  }
}

@media all and (max-width: 450px) {
  .count-container {
    margin: 0 50px;
    i {
      width: 98px;

      height: 98px;
      font-size: 40px;
      margin-top: -50px;
    }
    .grand-1-sqr {
      width: 200px;

      height: 130px;
      padding-top: 54px;
      .gg-a-type {
        font-size: 20px;

        line-height: 25px;
      }
      .gg-a-counter {
        font-size: 14px;
      }
    }
  }
}
