@import "./scss/extra-remove";
@import "./scss/variable";

.type-main {
  margin-top: 4%;

  display: flex;
  justify-content: space-evenly;
}

.type-card-main {
  width: 260px;
  height: auto;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    .name-child {
      padding-left: 0px;
    }
  }
}
@media all and (max-width: 950px) and (min-width: 650px) {
  .type-card-main {
    width: 200px;
  }
}

@media all and (max-width: 650px) {
  .type-main {
    flex-direction: column;
    align-items: center;
  }
  .type-card-main {
    width: 290px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 450px) {
  .type-card-main {
    width: 260px;
  }
}
@media all and (max-width: 350px) {
  .type-card-main {
    width: 200px;
  }
}
@import "./scss/child1";
@import "./scss/child2";
