#child-2 {
  width: 680px;
}

.grand-with-details {
  margin-left: 66px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 10px;

  .grand-2-id {
    height: 38px;
  }
  .grand-2-rank {
    height: 38px;
  }
  .grand-2-number {
    height: 38px;
  }
  .grand-2-patname {
    height: 38px;
  }
  .grand-2-fees {
    height: 38px;
  }

  .grand-2-counter {
    text-align: right;
    height: 42px;

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #2f2954;
      input {
        border: none;
        background: none;
        font-weight: bold;
        font-size: 16px;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .grand-2-drname {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #494469;
    margin-bottom: 20px;
  }
  .gg-2-a-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #4d6878;
  }
  .gg-2-b-normal {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #3d3d3d;
  }
}
