@import "./scss/extra-remove";
@import "./scss/variable";
body {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-card-main {
  width: 1062px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.21);
  border-radius: 5px;
  display: flex;
}

@import "./scss/child-1";
@import "./scss/child-2";
@import "./scss/child-3";
@import "./scss/child-4";
@import "./scss/rating";
