@import "./scss/extra-remove";
@import "./scss/variable";
body {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dise-card-main {
  width: $main-width;
  height: auto;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(106, 106, 106, 0.4);
}

@import "./scss/child-1";
@import "./scss/child-2";
@import "./scss/child-3";
