#child-2 {
  width: 680px;
}

.grand-with-details {
  margin-left: 66px;
  margin-right: 30px;
  margin-top: 45px;
  margin-bottom: 15px;

  .grand-2-id {
    height: 38px;
  }
  .grand-2-number {
    height: 38px;
  }
  .grand-2-patname {
    height: 38px;
  }
  .grand-2-fees {
    height: 38px;
  }

  .grand-2-date {
    height: 38px;
    input {
      font-size: 16px;
      border: none;
      background: none;
    }
  }

  .grand-2-drname {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #494469;
    margin-bottom: 20px;
  }
  .gg-2-a-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #4d6878;
  }
  .gg-2-b-normal {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #3d3d3d;
  }
  .grand-2-rating {
    height: 38px;
    display: flex;
    input[type="radio"] {
      display: none;
    }
    .gg-2-a-bold {
      margin-right: 10px;
    }
    .star {
      display: inline-block;
      margin-right: 4px;
    }
    label {
      padding-top: 2px;
    }
  }
  .grand-2-feedback {
    display: flex;
    textarea {
      margin-top: 3px;
      min-width: 500px;
      max-width: 501px;
      min-height: 88px;
      border-radius: 6px;
    }
  }
}
