.child-with-bars {
  display: inline-block;
  position: relative;
  .grand-1-bars {
    display: inline-block;
    width: 7px;
    height: 41px;
    background: #000000;
  }
  #bar-1 {
    position: absolute;
  }
  #bar-2 {
    position: absolute;
    margin-left: 11.55px;
  }
}

#child1 {
  padding-left: 9px;
}

#child4 {
  padding-right: 9px;
  #bar-3 {
    position: absolute;
    bottom: 0;
    margin-left: -18.55px;
  }
  #bar-4 {
    position: absolute;
    bottom: 0;
    margin-left: -7px;
  }
}
