@import "./scss/extra-remove";
@import "./scss/variable";

.specialist-card-main {
  margin: 4% 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  grid-row-gap: 4%;
  grid-column-gap: 5%;
}

.spec-card-main {
  padding-top: 10px;
  width: $main-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

  border-radius: 15px;

  &:hover .child-specialist-1 {
    transform: translateY(-30px);

    .child-specialist-with-img {
      .grand-specialist-1-img {
        img {
          width: 170px;
          height: 170px;
        }
      }
      .grand-specialist-1-back {
        width: 155px;
        height: 155px;
        transform: rotate(45deg);
        margin-top: 7px;
      }
    }
  }
  .card-specialist-back {
    z-index: -222;
    position: absolute;
    width: $main-width;
    height: 410.06px;
    clip-path: polygon(50% 0%, 100% 32%, 100% 100%, 0 100%, 0% 32%);
    background: #dbdbdb;
    margin-top: -125px;
  }
}

@media all and (max-width: 1300px) {
  .specialist-card-main {
    margin: 4% 5%;
  }
}

@import "./scss/child-1";
@import "./scss/child-2";
@import "./scss/child-3";

@media all and (max-width: 1150px) and (min-width: 1050px) {
  .specialist-card-main {
    margin: 4% 4%;
    grid-column-gap: 3%;
  }
  $main-width: 300px;
  .spec-card-main {
    width: $main-width;
    .card-specialist-back {
      width: $main-width;
    }
  }
  .child-specialist-1 {
    .child-specialist-with-img {
      width: ($main-width)-50px;
    }
  }

  .child-specialist-with-cont {
    width: ($main-width)+10px;
    .grand-specialist-2-cont {
      .gg-specialist-2a-cont {
        width: ($main-width)-40px;
      }
    }
  }
  .child-specialist-with-btn {
    width: ($main-width)+4px;
  }
}

@media all and (max-width: 1050px) and (min-width: 850px) {
  .specialist-card-main {
    margin: 4% 6%;
    grid-column-gap: 3%;
  }
  $main-width: 340px;
  .spec-card-main {
    width: $main-width;
    .card-specialist-back {
      width: $main-width;
    }
  }
  .child-specialist-1 {
    .child-specialist-with-img {
      width: ($main-width)-50px;
    }
  }

  .child-specialist-with-cont {
    width: ($main-width)+10px;
    .grand-specialist-2-cont {
      .gg-specialist-2a-cont {
        width: ($main-width)-40px;
      }
    }
  }
  .child-specialist-with-btn {
    width: ($main-width)+4px;
  }
}

@media all and (max-width: 850px) and (min-width: 700px) {
  .specialist-card-main {
    margin: 4% 4%;
    grid-column-gap: 3%;
  }
  $main-width: 300px;
  .spec-card-main {
    width: $main-width;
    .card-specialist-back {
      width: $main-width;
    }
  }
  .child-specialist-1 {
    .child-specialist-with-img {
      width: ($main-width)-50px;
    }
  }

  .child-specialist-with-cont {
    width: ($main-width)+10px;
    .grand-specialist-2-cont {
      .gg-specialist-2a-cont {
        width: ($main-width)-40px;
      }
    }
  }
  .child-specialist-with-btn {
    width: ($main-width)+4px;
  }
}

@media all and (max-width: 700px) and (min-width: 500px) {
  .specialist-card-main {
    margin: 4% 7%;
    grid-column-gap: 3%;
  }
  $main-width: 360px;
  .spec-card-main {
    width: $main-width;
    .card-specialist-back {
      width: $main-width;
    }
  }
  .child-specialist-1 {
    .child-specialist-with-img {
      width: ($main-width)-50px;
    }
  }

  .child-specialist-with-cont {
    width: ($main-width)+10px;
    padding-top: 120px;
    .grand-specialist-2-cont {
      .gg-specialist-2a-cont {
        width: ($main-width)-40px;
      }
    }
  }
  .child-specialist-with-btn {
    width: ($main-width)+4px;
  }
}

@media all and (max-width: 450px) and (min-width: 350px) {
  .specialist-card-main {
    grid-column-gap: 3%;
  }
  $main-width: 300px;
  .spec-card-main {
    width: $main-width;
    .card-specialist-back {
      width: $main-width;
    }
  }
  .child-specialist-1 {
    .child-specialist-with-img {
      width: ($main-width)-50px;
    }
  }

  .child-specialist-with-cont {
    width: ($main-width)+10px;
    .grand-specialist-2-cont {
      .gg-specialist-2a-cont {
        width: ($main-width)-40px;
      }
    }
  }
  .child-specialist-with-btn {
    width: ($main-width)+4px;
  }
}

@media all and (max-width: 350px) {
  .specialist-card-main {
    margin: 4% 0%;
    justify-items: center;
    grid-row-gap: 0%;
  }
  $main-width: 250px;
  .spec-card-main {
    width: $main-width;
    .card-specialist-back {
      width: $main-width;
      margin-top: -82px;
    }
    &:hover .child-specialist-1 {
      transform: translateY(-25px);
      .child-specialist-with-img {
        .grand-specialist-1-img {
          img {
            width: 125px;
            height: 125px;
          }
        }
        .grand-specialist-1-back {
          width: 120px;
          height: 120px;
          margin-top: 4px;
        }
      }
    }
  }
  .child-specialist-1 {
    .child-specialist-with-img {
      width: ($main-width)-50px;
      .grand-specialist-1-img {
        img {
          width: 110px;
          height: 110px;
        }
      }
      .grand-specialist-1-back {
        width: 102px;
        height: 102px;
      }
    }
  }

  .child-specialist-with-cont {
    width: ($main-width)+10px;
    height: 290px;
    padding-top: 85px;
    .grand-specialist-2-head {
      font-size: 20px;
    }
    .grand-specialist-2-cont {
      .gg-specialist-2a-cont {
        width: ($main-width)-40px;
        font-size: 11px;
      }
    }
  }
  .child-specialist-with-btn {
    width: ($main-width)+4px;
    .grand-specialist-3-btn {
      a {
        font-size: 10px;
        &:hover {
          font-size: 15px;
        }
      }
    }
  }
}

@media all and (max-width: 300px) {
  .specialist-card-main {
    margin: 4% 5%;
    justify-items: self-start;
  }
}

@media all and (max-width: 1050px) {
  .specialist-card-main {
    margin-top: 7%;
    grid-row-gap: 2%;
  }
}
@media all and (max-width: 700px) {
  .specialist-card-main {
    margin-top: 8%;
    grid-row-gap: 1.5%;
  }
}
@media all and (max-width: 500px) {
  .specialist-card-main {
    margin-top: 10%;
    grid-row-gap: 1.5%;
  }
}
