.logo-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  .grand-1-foot-logo {
    width: 135px;
    height: 135px;
    margin-bottom: 9px;
  }
  .grand-1-foot-name {
    margin-bottom: 3px;
  }
  .grand-1-foot-tag {
    font-size: 14px;
  }
}
