@import "./scss/extra-remove";
@import "./scss/variable";

.footer-part-1 {
  padding: 2% 7%;
  background: #596876;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-row-gap: 2rem;
  justify-items: center;
}
.footer-part-2 {
  background: #1c1a2a;
  display: flex;
  justify-content: center;
  padding: 10px;
}

@import "./scss/child1";
@import "./scss/child2";
@import "./scss/child3";
@import "./scss/child-a";
@import "./scss/media";
