.popup-container {
  min-width: 200px;
  width: 24rem;
  height: 30rem;
  background: #ffffff;
  box-shadow: 0px 4px 20px 4px rgba(195, 160, 255, 0.3);
  border-radius: 15px;
  padding: 1% 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-partner {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
}

.login-partner a {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(195, 160, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.alternative-opt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.alternative-opt-container p {
  margin: 0;
}

.alternative-opt-container a,
.alternative-opt-container p a {
  text-decoration: none;
  color: #dc1919;
}
.alternative-opt-container p a {
  color: #1a73e8;
}

.alternative-opt-container a:hover {
  color: #f36262;
}

.alternative-opt-container p a:hover {
  color: #63a3f7;
}
/* Forgot password starts here */
.mksmll {
  height: 15rem;
}
.mkgap {
  height: 9rem;
}
/* Confirm password starts here */

.customheight {
  height: 20rem;
}
.customgap {
  height: 13rem;
  width: auto;
}
/* Sign up starts here */
.extendheight {
  height: 35rem;
}
.signup-gap {
  height: 22rem;
  width: auto;
}
#submit-signup {
  background: linear-gradient(91.29deg, #752deb -2.71%, #b059ad 138.68%);
}

#submit-signup:hover {
  background: linear-gradient(91.29deg, #752deb 0.71%, #b059ad 100.68%);
}

.pointer-cursor:hover {
  cursor: pointer;
}
.eyes {
  position: absolute;
  margin-top: 1rem;
  margin-left: 17rem;
}

@media all and (max-width: 950px) {
  .popup-container {
    width: 21rem;
    height: 26rem;
  }
  .mksmll {
    padding-top: 10px;
    height: 13rem;
  }
  .mkgap {
    height: 8rem;
  }

  .extendheight {
    height: 31rem;
  }
  .signup-gap {
    height: 20rem;
  }
  .customheight {
    height: 18rem;
  }
  .customgap {
    height: 12rem;
  }
  .eyes {
    margin-top: 0.82rem;
    margin-left: 16.2rem;
    font-size: 15px;
  }
  .login-partner a {
    width: 70px;
    height: 45px;
  }
  .login-partner a img {
    width: 30px;
  }
  .alternative-opt-container {
    height: 2.5rem;
  }
  .alternative-opt-container a,
  .alternative-opt-container p,
  .alternative-opt-container p a {
    font-size: 14px;
  }
}

@media all and (max-width: 650px) {
  .popup-container {
    width: 18rem;
    height: 24rem;
  }
  .mksmll {
    height: 13rem;
  }
  .extendheight {
    height: 30rem;
  }
  .signup-gap {
    height: 19rem;
  }
  .customheight {
    height: 16rem;
  }
  .customgap {
    height: 11rem;
  }
  .login-partner a {
    width: 65px;
    height: 40px;
  }
  .login-partner a img {
    width: 28px;
  }
  .eyes {
    margin-top: 0.76rem;
    margin-left: 13.8rem;
    font-size: 14px;
  }
  .alternative-opt-container {
    height: 2.1rem;
  }
  .alternative-opt-container a,
  .alternative-opt-container p,
  .alternative-opt-container p a {
    font-size: 12px;
  }
}

@media all and (max-width: 450px) {
  .popup-container {
    width: 15rem;
    height: 20rem;
  }
  .mksmll {
    padding-top: 10px;
    height: 11rem;
  }
  .mkgap {
    height: 7rem;
  }
  .extendheight {
    height: 26rem;
  }
  .signup-gap {
    height: 17rem;
  }
  .customheight {
    height: 14rem;
  }
  .customgap {
    height: 10rem;
  }
  .login-partner a {
    width: 60px;
    height: 35px;
  }
  .login-partner a img {
    width: 25px;
  }
  .eyes {
    margin-top: 0.71rem;
    margin-left: 11.6rem;
    font-size: 13px;
  }
  .alternative-opt-container {
    height: 1.8rem;
  }
  .alternative-opt-container a,
  .alternative-opt-container p,
  .alternative-opt-container p a {
    font-size: 10px;
  }
}
